<h3>Confirm your draft and press Submit</h3>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Draft: <%= @post.content %></p>
  <%= form.submit  "Submit" %>
<%= form.submit "Back", name: 'back' %>
<% end %>