<%= form_with(model: @post,url:choose_new_or_edit, local: true) do |form| %>
  <div class="post_content">
    <%= form.label :Draft %>
    <%= form.text_field :Draft %>
  </div>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>